{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}

<div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">

	<!-- Component Start -->
	<h1 class="font-bold text-2xl">Welcome Back :)</h1>
	<form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="" method="POST">
		{% csrf_token %}
		<label class="font-semibold text-xs" for="usernameField">Username or Email</label>
		<input name="username" 
		class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" 
		type="text">
		<label 
		class="font-semibold text-xs mt-3" 
		for="passwordField">Password</label>
		<input 
		class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" 
		id="password"
		name="password"
		type="password"
		placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
		<button type="submit" class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700">Login</button>
		{% comment %} <div class="flex mt-6 justify-center text-xs">
			<a class="text-blue-400 hover:text-blue-500" href="#">Forgot Password</a>
			<span class="mx-2 text-gray-300">/</span>
			<a class="text-blue-400 hover:text-blue-500" href="{% url 'register' %}">Sign Up</a>
		</div> {% endcomment %}
	</form>
	<!-- Component End  -->

</div>
{% else %}    

<div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">

	<!-- Component Start -->
	<h1 class="font-bold text-2xl">Welcome To our Website :)</h1>
	<form class="flex flex-col bg-white rounded shadow-lg p-12 mt-12" action="" method="POST">
		{% csrf_token %}
		{% for field in form %}
		<label class="font-semibold text-xs" for="usernameField">{{field.label}}</label>
		<input 
		class="flex items-center h-12 px-4 w-64 bg-gray-200 mt-2 rounded focus:outline-none focus:ring-2" 
		type="{{ field.field.widget.input_type }}" 
		name="{{ field.name }}">
		{% endfor %}
		<button class="flex items-center justify-center h-12 px-6 w-64 bg-blue-600 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700">Login</button>
		<div class="flex mt-6 justify-center text-xs">
			<a class="text-blue-400 hover:text-blue-500" href="#">Forgot Password</a>
			<span class="mx-2 text-gray-300">/</span>
			<a class="text-blue-400 hover:text-blue-500" href="{% url 'login' %}">Login</a>
		</div>
	</form>
	<!-- Component End  -->

</div>

{% endif %}

{% endblock content %}