{% extends 'main.html' %} {% load static %} 




{% block content %}

<header>
  <div class="pt-32 pb-16 md:pt-40 overflow-hidden">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
      <div class="bg-gray-700 rounded-t-lg h-36 w-full mb-4"></div>
      <div class="flex flex-col items-center bg-black -mt-32">
        <a href="#" class="block">
          <img
            alt="profil"
            src="{% static 'img/profile_pic.png' %}"
            class="bg-white shadow-md object-cover rounded-full sm:h-20 sm:w-20 md:h-44 md:w-44 border-2 border-white"
          />
        </a>
        <div class="flex flex-col text-center">
          <p class="text-gray-800 text-4xl text-center font-medium mt-2">
            {{user_data.fname | capfirst}} {{user_data.lname | capfirst}}
          </p>
          <p class="text-gray-400 font-bold text-xs mt-2 mb-4">
            @{{request.user}}
          </p>
          <div class="flex flex-row justify-center">
            <p class="text-xs p-2 bg-gray-300 text-white px-4 rounded-full">
              Web Developer
            </p>
            <div
              class="flex items-center justify-between text-sm text-gray-600"
            ></div>
          </div>
          <div class="flex flex-row justify-center mt-2">
            <p class="text-xs p-2 bg-gray-500 text-white px-4 rounded-full">
              Edit Resume
            </p>
            <div
              class="flex items-center justify-between text-sm text-gray-600"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="container m-auto mt-8 px-6 md:px-12 lg:px-6">
    <div class="md:flex md:flex-row text-gray-600">
      <div class="md:w-3/4 lg:w-3/4">
        <div class="text-gray-600 body-font overflow-hidden">
          <div class="container px-8" bis_skin_checked="1">
            <div class="divide-y-2 divide-gray-100" bis_skin_checked="1" method="POST">
                
                <div class="py-8 flex flex-col md:flex-nowrap">
                  <div class="md:flex-grow" bis_skin_checked="1"> 
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        About Me
                      </h2>
                    </div>
                    <p class="mt-4"> 
                        {{resume_form.bio}}
                    </p>
                  </div>
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-col" id="wrapper">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        Education
                      </h2>
                    </div>
                    {% for education in resume.get_education %}
                    {% include 'base/partials/education_inline.html' with data=education %}
                    {% endfor %}
                  </div>
                  {% if new_education_url %}
                  <div id="education-create"></div>
                  <button hx-get="{{new_education_url}}"
                  hx-trigger="click" hx-target="#education-create" hx-swap="beforeend"
                  class="w-full text-white font-semibold py-3 px-6 rounded-md text-center transition bg-cyan-500 hover:bg-cyan-600 active:bg-cyan-700 focus:bg-sky-600 sm:w-max"
                  >
                  Add New
                  </button>
                  {% endif %}
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-col">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        Experiences
                      </h2>
                    </div>
                    {% for experience in resume.get_experience %}
                    {% include 'base/partials/experience_inline.html' with data=experience %}
                    {% endfor %}
                  </div>
                  {% if new_experience_url %}
                  <div id="experience-create"></div>
                  <button hx-get="{{new_experience_url}}"
                  hx-trigger="click" hx-target="#experience-create" hx-swap="beforeend"
                  class="w-full text-white font-semibold py-3 px-6 rounded-md text-center transition bg-cyan-500 hover:bg-cyan-600 active:bg-cyan-700 focus:bg-sky-600 sm:w-max"
                  >
                  Add New
                  </button>
                  {% endif %}
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-col">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        Work Experiences
                      </h2>
                    </div>
                    {% for work in work %}
                    <div class="leading-relaxed mt-6 flex flex-col">
                      <div class="flex flex-row space-x-4">
                         <h4 class="font-medium"> {{work.title}} </h4>
                        <p class="text-cyan-600">  {{work.start_date}}  <span class="text-gray-600">To</span>   {{work.end_date}} </p>
                      </div>
                      <div class="flex flex-row space-x-2">
                        <h4 class="text-cyan-600"> {{work.organization}}, </h4>
                        <p class="text-cyan-600"> {{work.wilaya}} </p>
                      </div>
                      <p class="mt-4">
                        {{experience.description}}
                      </p> 
                    </div>
                    {% endfor %}
                  </div>
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-wrap flex-col">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        Skills
                      </h2>
                    </div>
                    <div class="leading-relaxed mt-6 flex flex-col">
                      {{skills}}
                    </div>
                  </div>
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-wrap flex-col">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                        Certificates
                      </h2>
                    </div>
                    <div class="leading-relaxed mt-6 flex flex-col">
                      <!--image grid-->
                      <div class="flex flex-wrap mt-6" bis_skin_checked="1">
                        <div class="flex flex-wrap w-1/2" bis_skin_checked="1">
                            <div class="md:p-2 p-1 w-1/2" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full object-cover h-full object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                            <div class="md:p-2 p-1 w-1/2" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full object-cover h-full object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                            <div class="md:p-2 p-1 w-full" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full h-full object-cover object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                        </div>
                        <div class="flex flex-wrap w-1/2" bis_skin_checked="1">
                            <div class="md:p-2 p-1 w-full" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full h-full object-cover object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                            <div class="md:p-2 p-1 w-1/2" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full object-cover h-full object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                            <div class="md:p-2 p-1 w-1/2" bis_skin_checked="1">
                                <img alt="gallery"
                                    class="w-full object-cover h-full object-center block bg-gray-300"
                                    src="img/cover.jpg">
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
                
                
                <div class="text-gray-600 body-font md:flex-nowrap">
                  <div class="container py-8 mx-auto flex flex-wrap flex-col">
                    <div class="flex items-center space-x-4">
                      <svg
                        class="h-7 w-7 text-blue-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        />
                      </svg>
                      <h2
                        class="inline-flex text-2xl font-medium text-gray-900 title-font mb-1"
                      >
                      Publications & Appearances
                      </h2>
                    </div>
                    <div class="leading-relaxed mt-6 flex flex-col">
                      
                      {% comment %} <ul class="space-y-4">
                        <li class="flex space-x-2">
                          <svg class="mt-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          <p class="inline-flex">“One of a Kind Design,” Web Design Book, Poulin Publishing, 2018</p>
                        </li>
                        <li class="flex space-x-2">
                          <svg class="mt-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          <p class="inline-flex">“One of a Kind Design,” Web Design Book, Poulin Publishing, 2018</p>
                        </li>
                      </ul> {% endcomment %}
                      
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock content %}

{% comment %} 
<form method="POST" class="mt-8">
    {% csrf_token %}
    <div class="grid gap-6 mb-6 lg:grid-cols-2">
      {% for field in resume_form %}
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{field.label}}</label>
            {{field}}
          </div>
          <br>
      {% endfor %}
    </div>
    <button type="submit" class="w-full text-white font-semibold py-3 px-6 rounded-md text-center transition bg-cyan-500 hover:bg-cyan-600 active:bg-cyan-700 focus:bg-sky-600 sm:w-max">Save</button>
</form>
{% include 'base/partials/experience-form.html' %}     {% endcomment %}